<Interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Interface.xsd">
  <Windows>
    <Window name="CraftValueTipConfig">
      <Size>
        <AbsPoint x="500" y="200"/>
      </Size>
      <Windows>
        <Label name="$parentVersion" font="font_clear_small">
          <Anchors>
            <Anchor point="topleft" relativePoint="topleft">
              <AbsPoint x="5" y="10" />
            </Anchor>
          </Anchors>
          <Size>
            <AbsPoint x="450" y="25"/>
          </Size>
        </Label>
        <Label name="$parentLanguageLabel" inherits="IraConfigLabel">
          <Anchors>
            <Anchor point="bottomleft" relativePoint="topleft" relativeTo="$parentVersion">
              <AbsPoint x="0" y="7" />
            </Anchor>
          </Anchors>
        </Label>
        <ComboBox name="$parentLanguage" inherits="IraConfigCombo">
          <Anchors>
            <Anchor point="right" relativePoint="left" relativeTo="$parentLanguageLabel">
              <AbsPoint x="0" y="0" />
            </Anchor>
          </Anchors>
        </ComboBox>
        <Window name="$parentShow" inherits="IraConfigCheckBox">
          <Anchors>
            <Anchor point="bottomleft" relativePoint="topleft" relativeTo="$parentLanguageLabel">
              <AbsPoint x="0" y="5" />
            </Anchor>
          </Anchors>
        </Window>
        <Window name="$parentShowDev" inherits="IraConfigCheckBox">
          <Anchors>
            <Anchor point="bottomleft" relativePoint="topleft" relativeTo="$parentShow">
              <AbsPoint x="0" y="5" />
            </Anchor>
          </Anchors>
        </Window>
      </Windows>
    </Window>
    
  </Windows>
</Interface>
